 html{
    box-sizing: border-box;
 }

 *,
 **::before,
 **::after{
    box-sizing: inherit;
 }
 
 .container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
 }

 a{
    color: inherit;
    text-decoration:none;
 }

 button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
 }

 ul{
    list-style: none;
 }
 
 body{
    color: #000;
    
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
 }

 .header{
    min-height: 100vh;
    position: relative;
    
    
 }

 .header__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
 }

 .menu__list{
    display: flex;
    align-items: center;
    gap: 0 40px;
    font-weight: 700;
 }

 .menu__btn{
    padding: 8px 28px;
    align-items: center;
    gap: 10px;
    background-color: black;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;

 }

 .header__content-images{
    text-align: center;
    padding-bottom: 50px;
 }
 .header__content-images::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   z-index: -2;
 }

 .header__content-images:has(.color--green.content__item--active)::before{
   background: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 
   235, 0.00) 100%);
 } 
 
 .header__content-images:has(.color--red.content__item--active)::before{
   background: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0.00) 100%);
 } 

 .header__content-images:has(.color--blue.content__item--active)::before{
   background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
 } 

 .header__content-images:has(.color--black.content__item--active)::before{
   background: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0.00) 100%);
 } 

 .header__content-images:has(.color--white.content__item--active)::before{
   background: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0.00) 100%);
 } 

 .menu__list{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
 }
 .title{
    font-size: 210px;
    font-weight: 700;
    position: absolute;
    padding-top: 240px;
 }

 .title--pod{
   position: relative;
   z-index: -1;
 }

 .title--s{
   display: inline-block;
   transform: translateY(55px);
   
 }

 .title--m{
   display: inline-block;
   transform: translate(-44px,270px);
 }

 .title--ax{
   position: relative;
   display: inline-block;
   transform: translate(-100px,413px);
   z-index: -1;
 }

 .container{
   text-align: center;
 }

 .content__item{
   display: none;
 }

 .content__item.content__item--active{
   display: inline-block;
 }

 .choose-color__title{
   color: #000;
   text-align: center;  
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: 120%;
   margin-bottom: 20px;
   margin-top: 208px;
 }

 .choose-color__text{
   display:inline-block;
   color: #000;
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 120%;
   max-width: 557px;
   margin-bottom: 80px;
 }
 
 .choose-color__list{
   display: flex;
   gap: 40px;
   justify-content: center;
   margin-bottom: 180px;
}

.choose__color-btn{

   border-radius: 20px;
   border: 1px solid #777;
   padding: 50px 55px;
}

.choose__color-btn--active{
   display: none;
}

.main__title{
   font-size: 64px;
   font-weight: 700;
   line-height: 120%;
   margin: 0 20px;
   margin-bottom: 20px;
}

.composition__text{
   display: inline-block;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 120%;
   max-width: 653px;
   margin-bottom: 40px;
}

.composition__inner{
   display: flex;
   justify-content: space-between;
   max-width: 625px;
   margin: 0 auto;
   margin-bottom: 180px;
}

.composition__inner-text{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
   max-width: 230px;
   font-weight: 500;
   line-height: 120%;
   font-size: 16px;
   text-align: left;
}

.ears__case{
   background-color: #FAFAFA;
   height: 678px;
   text-align: center;
   padding-top: 80px;
}

.ears__case-text{
   font-weight: 500;
   line-height: 120%;
   font-size: 16px;
   margin-bottom: 40px;
}

.stayin__alive-main{
   margin-bottom: 40px;
}

.stayin__alive-20{
   font-weight: 700;
   line-height: 120%; 
   font-size: 210px;
   margin-bottom: 40px;
}

.stayin__alive-text{
   display: inline-block;
   font-weight: 500;
   line-height: 120%;
   text-decoration-line: underline;
   max-width: 403px;
   text-align: center;
   margin-bottom: 98px;
   
}

.footer{
   padding: 50px 0 40px;
   background-color: #000;
}

.audio{
   background-image: url(../images/tip.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   position: relative;
}

.audio__inner{
   min-height: 220vh;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}

.audio__box{
   padding-bottom: 50vh;
   color: #fff;
   text-align: center;
} 

.audio__text{
   width: 300px;
   text-align: center;
   margin-bottom: 28px;
}

.btn{
   text-transform: uppercase;
   font-weight: 700;
   color: #000;
   background-color: #fff;
   padding: 15px 58px;
   border-radius: 30px;
   margin-top: 40px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.footer-icon {
   margin-bottom: 80px;
}

.footer-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;
}

@media(max-width: 1469px){
   .header__content-images{
      max-width: 100%;
      
   }
   .title{
      font-size: 180px;
      transform: translateX(40px);
      width: fit-content;
   }
   .choose-color__list{
      flex-wrap: wrap;
   }
   .choose-color__title{
      margin-top: 100px;
   }
   .title--air , .title--pod, .title--s{

      font-size: 195px;
   }
   .title--pod{
      margin-right: 30px;
   }

}

@media(max-width: 768px){
   .choose-color{
      padding-bottom: 0px;
   }
   .choose-color__list{
      gap: 16px;
   }
   .ears__case-text{
      margin: 0 40px;
      margin-bottom: 40px;
      
   }
   .main__title{
      font-size: 36px;
   }

   .composition{
      margin-bottom: 60px;
   }
   .case {
      padding: 60px 0;
   }
   .stayin__alive{
      padding-top: 20px;
   }
   .composition__inner{
      margin-bottom: 80px;
   }
   .stayin__alive-text{
      margin-bottom: 20px;
   }
   .choose-color__list{
      margin-bottom: 60px;
   }
   
}

@media(max-width: 560px){
   .choose-color__text{
      margin-bottom: 40px;
   }
   .choose-color{
      padding-bottom: 40px;
   }
   .composition__inner{
      flex-wrap: wrap;
      justify-content: center;
   }
   .inner-text-third {
      margin-bottom: 15px;
   }
   .stayin__alive-text{
      margin: 0 20px;
   }

   .composition__inner-text{
      width: 100%;
   }
   
}

@media(max-width: 400px){
   
   .ears_case-img {
      width: 220px;
      height: 198px;
      margin-top: 70px;
   }
      
}

@media(max-width: 1269px){
   .title{
      transform: none;
      font-size: 140px;
      padding-top: 20vh;
      left: 0;
      text-align: center;
   }
   .title--pod {
      z-index: -1;
      margin-right: 0;
      font-size: 150px;
   }
   .title--s{
      transform: none;
      font-size: 150px;
   }
   .title--m{
      transform: none;
      font-size: 150px;
   }
   .title--ax{
      transform: none;
      font-size: 150px;
   }
   .title--air{
      font-size: 150px;
      margin-left: 7vh;
   }

}


@media(max-width: 1050px){
   .title{
      position: relative;
      width: 100%;

   }
   .title--pod,.title--air,.title--s,.title--m,.title--ax{
      font-size: 100px;
   }
   .title--air{
      margin: 0 auto;
   }
}

@media(max-width: 810px){
   .header__content-images img{
      width: 75%;
      height: 75%;
      margin-top: 100px;
   }
}

@media(max-width: 670px){
   .header__content-images img{
      width: 75%;
      height: 75%;
      margin-top: 120px;
   }
   .title--pod,.title--air,.title--s,.title--m,.title--ax{
      font-size: 70px;
   }
}

@media(max-width: 520px){
   .header__top img{
      left: 0;
      right: 0;
      margin-bottom: 20px;
      margin-left: 40vw;
   }
   .title--pod,.title--air,.title--s,.title--m,.title--ax{
      font-size: 50px;
   }
   .title{
      padding-top: 10vh;
   }
}

@media(max-width: 475px){
   .menu__item{
      margin-bottom: 20px;
   }
   .choose-color__title{
      margin-top: 50px;

   }
   .title--pod,.title--air,.title--s,.title--m,.title--ax{
      font-size: 42px;
   }
}